<div class="root full flex-col flex-col-center">
    <div class="grid square full-col flex-col flex-col-center outline">
        <div class="row-marker-container full flex-row flex-row-center">
            <div class="blank full"></div>
            <app-column-markers class="full flex-row flex-row-center" *ngFor="let _ of getColIndices(); let col = index" [values]="getColMarkers(col)"></app-column-markers>
        </div>
        <div class="full flex-row flex-row-center" *ngFor="let _ of getRowIndices(); let y = index">
            <app-row-markers class="full" [values]="getRowMarkers(y)"></app-row-markers>
            <app-cell class="full" *ngFor="let _ of getColIndices(); let x = index" [x]="x" [y]="y"></app-cell>
        </div>
    </div>
</div>
